<div class="app">
    <div style="height: 14vw; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-23.42,120.88 C177.48,64.63 319.13,141.61 508.74,102.13 L511.00,-13.31 L-14.95,-6.41 Z" style="stroke: none; fill: rgb(50, 208, 74);"></path></svg></div>
    <h1 class="title">COVID-19 Realtime vaccination estimations:</h1>
    <p class="credits">Data source: <b>Our World in Data</b> (transformed)</p>
    <app-display [title]="'Total vaccination dosis administered:'" [display]="total"></app-display>
    <app-display [title]="'People fully vaccinated:'" [display]="peopleFully"></app-display>
</div>
<!-- <img class="layout" src="assets/layout.png"> -->